name: 'Terraform'

on:
  pull_request:
  push:
    branches: [main]  


permissions:
  contents: read
  id-token: write
  pull-requests: write
  actions: read
  checks: write

defaults: 
  run: 
    working-directory: ./terraform

jobs:
  terraform_plan:
    name: 'Terraform'
    runs-on: ubuntu-latest
    
    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v6

    - name: OIDC AWS
      uses: aws-actions/configure-aws-credentials@v4
      with:
            role-to-assume: ${{ secrets.AWS_OIDC_ROLE }}
            aws-region: ap-southeast-2

    # Install the latest version of Terraform CLI and configure the Terraform CLI configuration file with a Terraform Cloud user API token
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
  
    # Initialize a new or existing Terraform working directory by creating initial files, loading any remote state, downloading modules, etc.
    - name: Terraform Init
      run: terraform init

    # Checks that all Terraform configuration files adhere to a canonical format
    - name: Terraform Format
      run: terraform fmt

    - uses: op5dev/tf-via-pr@v13
      with:
        working-directory: ./terraform
        command: plan

  apply:
    needs: terraform_plan
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    environment: production   

    steps:
    - uses: actions/checkout@v4

    - uses: hashicorp/setup-terraform@v3

    - uses: op5dev/tf-via-pr@v13
      with:
        working-directory: ./terraform
        command: apply
